<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <a href="https://www.linkedin.com/in/saathvik-sheerla/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div><strong>&copy;</strong>psyc</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>