<% layout('layouts/boilerplate') %>

<div class="row mt-3">
    <div class="alert alert-danger offset-3 col-6 mt-2 mb-2" role="alert">
        <%= err.statusCode %> , <%= err.message %>
    </div>
</div>