<% layout('layouts/boilerplate') %>

<body>
    <div class="standard-cnt" >
        <h3>How are you feeling today!?</h3>
    </div>

    <div class="dashboard-div">
        <div class="personality-inventory" >
            <a href="/personality-inventory">Personality Inventory</a>
            <div class="profile-img-container" >
                <img class="profile-img"
                    src="<%= profile.img %>" alt=""
                > <br> 
                <h3 style="text-align: center; margin: auto;"><%= profile.name %></h3>
            </div>
        </div>

        <div class=" level level-1" ><a href="/level-1">Level I</a></div>
        <div class="level level-2"><a href="/level-2">Level II</a></div>
    </div>
</body>
